USE [master]
GO
/****** Object:  Database [CoffeeShopManagement]    Script Date: 11/19/2020 8:51:24 AM ******/
CREATE DATABASE [CoffeeShopManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoffeeShopManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CoffeeShopManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoffeeShopManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CoffeeShopManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoffeeShopManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoffeeShopManagement]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryCode] [nvarchar](50) NOT NULL,
	[categoryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customerCode] [nvarchar](50) NOT NULL,
	[customerName] [nvarchar](50) NULL,
	[AddressName] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[customerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[materialCode] [nvarchar](50) NOT NULL,
	[materialName] [nvarchar](50) NULL,
	[price] [money] NULL,
	[providerCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[materialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productCode] [nvarchar](50) NOT NULL,
	[productName] [nvarchar](50) NULL,
	[categoryCode] [nvarchar](50) NULL,
	[purchasePrice] [money] NULL,
	[sellPrice] [money] NULL,
	[quantity] [int] NULL,
	[image] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[productCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[providerCode] [nvarchar](50) NOT NULL,
	[providerName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[providerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDetail]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetail](
	[purchaseCode] [nvarchar](50) NOT NULL,
	[materialCode] [nvarchar](50) NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
	[amount] [money] NULL,
	[discount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[purchaseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[code] [nvarchar](50) NOT NULL,
	[date] [nvarchar](50) NULL,
	[staffCode] [nvarchar](50) NULL,
	[providerCode] [nvarchar](50) NULL,
	[amount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellDetail]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellDetail](
	[sellCode] [nvarchar](50) NOT NULL,
	[productCode] [nvarchar](50) NULL,
	[quantity] [int] NULL,
	[amount] [money] NULL,
	[discount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[sellCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellOrder]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellOrder](
	[code] [nvarchar](50) NOT NULL,
	[date] [nvarchar](50) NULL,
	[staffCode] [nvarchar](50) NULL,
	[customerCode] [nvarchar](50) NULL,
	[amount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staffCode] [nvarchar](50) NOT NULL,
	[staffName] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[sex] [nvarchar](20) NULL,
	[dob] [nvarchar](50) NULL,
	[phoneNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[staffCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/19/2020 8:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([categoryCode], [categoryName]) VALUES (N'C01', N'Cà Phê Việt Nam')
INSERT [dbo].[Category] ([categoryCode], [categoryName]) VALUES (N'C010', N'Cà Phê Gói')
INSERT [dbo].[Category] ([categoryCode], [categoryName]) VALUES (N'C011', N'Merchandise')
INSERT [dbo].[Customers] ([customerCode], [customerName], [AddressName], [PhoneNumber]) VALUES (N'CC01', N'Nguyen Chuong', N'Thanh Chuong, Nghe An', N'0916878445')
INSERT [dbo].[Customers] ([customerCode], [customerName], [AddressName], [PhoneNumber]) VALUES (N'CC02', N'Manh Hung', N'Thai Hoa, Nghe An', N'0926873445')
INSERT [dbo].[Customers] ([customerCode], [customerName], [AddressName], [PhoneNumber]) VALUES (N'CC03', N'Andrew Vu', N'Thach Hoa, Ha Noi', N'0976877445')
INSERT [dbo].[Materials] ([materialCode], [materialName], [price], [providerCode]) VALUES (N'MC01', N'Sugar', 190.0000, N'PC01')
INSERT [dbo].[Materials] ([materialCode], [materialName], [price], [providerCode]) VALUES (N'MC02', N'Milk', 170.0000, N'PC01')
INSERT [dbo].[Materials] ([materialCode], [materialName], [price], [providerCode]) VALUES (N'MC03', N'Tea', 200.0000, N'PC02')
INSERT [dbo].[Products] ([productCode], [productName], [categoryCode], [purchasePrice], [sellPrice], [quantity], [image]) VALUES (N'P01', N'Coffesua', N'C01', 16000.0000, 32000.0000, 101, N'p1.jpg')
INSERT [dbo].[Products] ([productCode], [productName], [categoryCode], [purchasePrice], [sellPrice], [quantity], [image]) VALUES (N'P02', N'Cà Phê Đen', N'C01', 16000.0000, 32000.0000, 20, N'p2.jpg')
INSERT [dbo].[Products] ([productCode], [productName], [categoryCode], [purchasePrice], [sellPrice], [quantity], [image]) VALUES (N'P03', N'Cà Phê Sữa', N'C01', 16000.0000, 32000.0000, 30, N'p3.jpg')
INSERT [dbo].[Providers] ([providerCode], [providerName], [Address], [PhoneNumber]) VALUES (N'PC01', N'Coffee Bean', N'Brazil', N'0916854643')
INSERT [dbo].[Providers] ([providerCode], [providerName], [Address], [PhoneNumber]) VALUES (N'PC02', N'Ba Vi Milk', N'Ba Vi, Ha Noi', N'0912154643')
INSERT [dbo].[Providers] ([providerCode], [providerName], [Address], [PhoneNumber]) VALUES (N'PC03', N'Phuc Long Tea', N'China', N'0916854643')
INSERT [dbo].[staff] ([staffCode], [staffName], [address], [sex], [dob], [phoneNumber]) VALUES (N'S01', N'Peter', N'Howart Street', N'Male', N'2000-11-11', N'123321123')
INSERT [dbo].[staff] ([staffCode], [staffName], [address], [sex], [dob], [phoneNumber]) VALUES (N'S02', N'John', N'Washington', N'FeMale', N'1988-01-11', N'123333333')
INSERT [dbo].[staff] ([staffCode], [staffName], [address], [sex], [dob], [phoneNumber]) VALUES (N'S03', N'Linda', N'New York', N'FeMale', N'1999-03-03', N'1123456789')
INSERT [dbo].[Users] ([Username], [Password]) VALUES (N'admin', N'admin')
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD FOREIGN KEY([providerCode])
REFERENCES [dbo].[Providers] ([providerCode])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([categoryCode])
REFERENCES [dbo].[Category] ([categoryCode])
GO
ALTER TABLE [dbo].[PurchaseDetail]  WITH CHECK ADD FOREIGN KEY([materialCode])
REFERENCES [dbo].[Materials] ([materialCode])
GO
ALTER TABLE [dbo].[PurchaseDetail]  WITH CHECK ADD FOREIGN KEY([purchaseCode])
REFERENCES [dbo].[PurchaseOrder] ([code])
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD FOREIGN KEY([providerCode])
REFERENCES [dbo].[Providers] ([providerCode])
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD FOREIGN KEY([staffCode])
REFERENCES [dbo].[staff] ([staffCode])
GO
ALTER TABLE [dbo].[SellDetail]  WITH CHECK ADD FOREIGN KEY([sellCode])
REFERENCES [dbo].[SellOrder] ([code])
GO
ALTER TABLE [dbo].[SellDetail]  WITH CHECK ADD FOREIGN KEY([productCode])
REFERENCES [dbo].[Products] ([productCode])
GO
ALTER TABLE [dbo].[SellOrder]  WITH CHECK ADD FOREIGN KEY([customerCode])
REFERENCES [dbo].[Customers] ([customerCode])
GO
ALTER TABLE [dbo].[SellOrder]  WITH CHECK ADD FOREIGN KEY([staffCode])
REFERENCES [dbo].[staff] ([staffCode])
GO
USE [master]
GO


insert into PurchaseOrder values ('PO01','20/10/2020','S01','PC01','2000')
insert into PurchaseOrder values ('PO02','20/11/2020','S02','PC02','2500')
insert into PurchaseOrder values ('PO03','19/08/2020','S01','PC03','1000')


insert into PurchaseDetail values ('PO01','MC01','3','1500','20','5')
insert into PurchaseDetail values ('PO02','MC02','5','1700','25','10')
insert into PurchaseDetail values ('PO03','MC01','1','1800','20','5')


insert into SellOrder values ('SO01','06/06/2020','S01','CC01','50')
insert into SellOrder values ('SO02','07/07/2020','S01','CC03','55')
insert into SellOrder values ('SO03','07/06/2020','S02','CC02','50')


insert into SellDetail values ('SO01','P01','7','10','6')
insert into SellDetail values ('SO02','P01','7','20','5')
insert into SellDetail values ('SO03','P02','8','15','10')
